body {
  text-align: center;
}
a, a:visited, a:active {
  color: #444;
}
.btn-group {
  display: inline-block;
}

#vis {
  width: 100%;
  max-width: 600px;
  clear: both;
  margin-bottom: 10px;
}

.sentence {
  font-size: 20px;
}

.sentence .btn {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}